@keyframes showreal {
	from {
		background-position: 0px;
	}
	to {
		background-position: -990px;
	}
}

@keyframes bomb {
	from {
		background-position: 0px;
	}
	to {
		background-position: -128px;
	}
}