.arrow {
	position: absolute;
	height: 100%;
	top: 0;
	text-align: center;
	cursor: pointer;
	z-index: 10;
	.icon {
		width: 65px;
		height: 100%;
		transition: opacity .3s;
	}
	&:hover {
		.icon {
			opacity: .5;
		}
	}
	&:active {
		.icon {
			transition: none;
			opacity: 1;
		}
	}
	&_left {
		left: 0;
		padding-left: 50px;
	}
	&_right {
		right: 0;
		padding-right: 50px;
	}
}