.icon {
	fill: #fff;
	transition: fill .3s;
}

.icon-showreal {
	display: inline-block;
	background: url('../img/sprites/showreel_18x55.png') no-repeat;
	width: 55px;
	height: 41px;
	// animation: showreal .6s steps(18) infinite;
}

.icon-bomb {
	display: inline-block;
	background: url('../img/sprites/bomb_4x32.png') no-repeat;
	width: 32px;
	height: 57px;
	animation: bomb .4s steps(4) infinite;
}