* {
	box-sizing: border-box;
}

.hide {
	display: none;
}

.wrapper {
	overflow: hidden;
	position: relative;
	min-width: 940px;
	min-height: 680px;
}

.main-content {
	.clearfix();
	position: absolute;
	top: 0;
	left: 0;
	// transition: left 1s ease-in-out;
}

.container {
	width: 940px;
	margin: 0 auto;
	position: relative;
	&_logo {
		width: 750px;
		height: 430px;
		position: absolute;
		left: 50%;
		margin-left: -375px;
		top: 50%;
		margin-top: -215px;
	}
}

