.main-menu {
	width: 100%;
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		.clearfix();
	}
	&__item {
		float: left;
	}
	&__link {
		display: inline-block;
		padding: 10px;
		transition: color .5s;
		&.active {
			color: orange;
		}
	}
}