<section class="section section_contacts js-section" data-frame="contacts">
	<div class="container">
		<div class="contacts">
			<p class="contacts__text">
				По вопросам сотрудничества,<br>организации и проведения мастер классов:
			</p>
			<div class="contacts__container">
				{{! Phone }}
				<div class="contacts__phone">
					<svg viewBox="0 0 32.313 35" class="icon icon-phone">
						<use xlink:href="#phone"></use>
					</svg>
					<a href="phone:+7 (926) 644-69-65" class="contacts__phone-text">
						+7 (926) 644-69-65
					</a>
				</div>
				{{! Aim }}
				<div class="contacts__aim">
					<svg viewBox="0 0 80 159" class="icon icon-aim">
						<use xlink:href="#aim"></use>
					</svg>
					<div class="contacts__aim-text">
						или
					</div>
				</div>
				{{! Email }}
				<div class="contacts__email">
					<svg viewBox="0 0 35.032 26.08" class="icon icon-email">
						<use xlink:href="#email"></use>
					</svg>
					<a href="mailto:info@vladkuzmin.ru" class="contacts__email-text">
						info@vladkuzmin.ru
					</a>
				</div>
			</div>
			<div class="contacts__motto">
				<img src="img/lets-do-it-together.png" alt="lets do it together" class="contacts__motto-img">
				<div class="contacts__motto-text">
					Let's do it together!
				</div>
			</div>
		</div>
	</div>
	<img src="img/slides/07.jpg" alt="" class="section__img">
</section>