<section class="section section_gallery js-section" data-frame="gallery">
	<div class="container js-container">
		<div class="gallery js-gallery">
			<div class="gallery__inner js-galleryContainer js-scroll">
				<ul class="gallery__list"></ul>
			</div>
		</div>
	</div>
</section>