<header class="site-header">
	<div class="container">
		<table class="main-menu">
			<tbody>
				<tr class="main-menu__row">
					<td class="main-menu__cell">
						<a href="#home" class="main-menu__link js-menuLink">
							Home
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#resume" class="main-menu__link js-menuLink">
							Резюме
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#show" class="main-menu__link js-menuLink">
							Шоу-программа
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#mirazh" class="main-menu__link js-menuLink">
							Miraze dance family
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#gallery" class="main-menu__link js-menuLink">
							Галерея
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#news" class="main-menu__link js-menuLink">
							Новости
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#contacts" class="main-menu__link js-menuLink">
							Контакты
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</header>