<header class="site-header js-siteHeader">
	<div class="container">
		<table class="main-menu">
			<tbody>
				<tr class="main-menu__row">
					<td class="main-menu__cell">
						<a href="#home" class="main-menu__link main-menu__link_home js-menuLink" data-id="0">
							<svg viewBox="0 0 26.5 22.994" class="icon icon-home">
								<use xlink:href="#home"></use>
							</svg>
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#resume" class="main-menu__link js-menuLink" data-id="1">
							Резюме
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#show" class="main-menu__link js-menuLink" data-id="2">
							Шоу-программа
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#school" class="main-menu__link js-menuLink" data-id="3">
							Школа танцев
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#gallery" class="main-menu__link js-menuLink" data-id="4">
							Галерея
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#news" class="main-menu__link js-menuLink" data-id="5">
							Новости
						</a>
					</td>
					<td class="main-menu__cell">
						<a href="#contacts" class="main-menu__link js-menuLink" data-id="6">
							Контакты
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</header>