<section class="section section_home js-section" data-frame="home">
	<div class="container container_logo">
		<svg viewBox="0 0 540.001 226.001" class="icon icon-logo">
			<use xlink:href="#logo"></use>
		</svg>
		<div class="links">
			<table class="links__list">
				<tbody>
					<tr>
						<td class="links__item">
							<div class="links__item-inner">
								<div class="links__icon">
									<div class="sprite icon-showreal js-sprite" data-speed="0.8" data-frames-count="18" data-frame-width="55" data-frame-height="41" data-sprite-url="img/sprites/showreel_18x55.png"></div>
									{{! <svg viewBox="0 0 39.17 39" class="icon icon-showreal">
										<use xlink:href="#showreal"></use>
									</svg> }}
								</div>
								<div class="links__text">
									<div class="links__text-inner">
										Showreal
									</div>
								</div>
							</div>
						</td>
						<td class="links__item">
							<div class="links__item-inner">
								<div class="links__icon">
									<div class="sprite icon-bomb js-sprite" data-speed="0.2" data-frames-count="4" data-frame-width="32" data-frame-height="57" data-sprite-url="img/sprites/bomb_4x32.png"></div>
									{{! <svg viewBox="0 0 39.17 39" class="icon icon-bomb">
										<use xlink:href="#bomb"></use>
									</svg> }}
								</div>
								<div class="links__text">
									<div class="links__text-inner">
										Шоу программы
									</div>
								</div>
							</div>
						</td>
						<td class="links__item">
							<div class="links__item-inner">
								<div class="links__icon">
									{{! <div class="sprite js-sprite" data-speed="0.7" data-frames-count="36" data-frame-width="61" data-frame-height="60" data-sprite-url="img/sprites/boot_36x61.png"></div> }}
									<svg viewBox="0 0 39.17 39" class="icon icon-shoe">
										<use xlink:href="#shoe"></use>
									</svg>
								</div>
								<div class="links__text">
									<div class="links__text-inner">
										Школа танцев
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>