<section class="section section_home js-section" data-frame="home">
	<div class="container container_logo">
		<svg viewBox="0 0 540.001 226.001" class="icon icon-logo">
			<use xlink:href="#logo"></use>
		</svg>
		<div class="links">
			<ul class="links__list">
				<li class="links__item">
					<div class="links__icon">
						<svg viewBox="0 0 39.17 39" class="icon icon-showreal">
							<use xlink:href="#showreal"></use>
						</svg>
					</div>
					<div class="links__text">
						Showreal
					</div>
				</li>
				<li class="links__item">
					<div class="links__icon">
						<svg viewBox="0 0 39.17 39" class="icon icon-bomb">
							<use xlink:href="#bomb"></use>
						</svg>
					</div>
					<div class="links__text">
						Шоу программы
					</div>
				</li>
				<li class="links__item">
					<div class="links__icon">
						<svg viewBox="0 0 39.17 39" class="icon icon-shoe">
							<use xlink:href="#shoe"></use>
						</svg>
					</div>
					<div class="links__text">
						Школа танцев
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="section__overlay"></div>
	<img src="img/slides/01.jpg" alt="" class="section__img">
</section>