<section class="section section_home js-section" data-frame="home">
	<div class="container">

	</div>
	<div class="section__overlay"></div>
	<img src="img/slides/01.jpg" alt="" class="section__img">
</section>