<section class="section section_news js-section" data-frame="news">
	<div class="container js-container">
		<div class="news js-news">
			{{! News }}
			<div class="news__frame js-newsFrame">
				<div class="news__container js-newsContainer">
					{{! Page 1 }}
					<ul class="news__list js-newsPage">
						{{#news}}
							<li class="news__item{{#red}} red{{/red}}">
								<div class="news__date">
									<img src="img/red-date.svg" alt="" class="news__red-date">
									<svg viewBox="0 0 80 114" class="icon icon-news-date">
										<use xlink:href="#news-date"></use>
									</svg>
									<div class="news__day-number">{{dayNumber}}</div>
									<div class="news__month">{{month}}</div>
								</div>
								<table>
									<tbody>
										<tr>
											<td>
												<p class="news__text">
													{{text}}
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</li>
						{{/news}}
					</ul>
					{{! Page 2 }}
					<ul class="news__list js-newsPage">
						{{#news}}
							<li class="news__item{{#red}} red{{/red}}">
								<div class="news__date">
									<img src="img/red-date.svg" alt="" class="news__red-date">
									<svg viewBox="0 0 80 114" class="icon icon-news-date">
										<use xlink:href="#news-date"></use>
									</svg>
									<div class="news__day-number">{{dayNumber}}</div>
									<div class="news__month">{{month}}</div>
								</div>
								<table>
									<tbody>
										<tr>
											<td>
												<p class="news__text">
													{{text}}
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</li>
						{{/news}}
					</ul>
					{{! Page 3 }}
					<ul class="news__list js-newsPage">
						{{#news}}
							<li class="news__item{{#red}} red{{/red}}">
								<div class="news__date">
									<img src="img/red-date.svg" alt="" class="news__red-date">
									<svg viewBox="0 0 80 114" class="icon icon-news-date">
										<use xlink:href="#news-date"></use>
									</svg>
									<div class="news__day-number">{{dayNumber}}</div>
									<div class="news__month">{{month}}</div>
								</div>
								<table>
									<tbody>
										<tr>
											<td>
												<p class="news__text">
													{{text}}
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</li>
						{{/news}}
					</ul>
				</div>
			</div>
			{{! News arrows }}
			<div class="news__arrow-container">
				<div class="news__arrow news__arrow_left js-newsArray js-prevNews">
					<svg viewBox="0 0 14.974 27.973" class="icon small-arrow-left">
						<use xlink:href="#small-arrow-left"></use>
					</svg>
					<span class="news__arrow-text">
						Предыдущие новости
					</span>
				</div>
				<div class="news__arrow news__arrow_right js-newsArray js-nextNews">
					<span class="news__arrow-text">
						Следующие новости
					</span>
					<svg viewBox="0 0 14.974 27.973" class="icon small-arrow-right">
						<use xlink:href="#small-arrow-right"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>