<section class="section section_school js-section" data-frame="school">
	<div class="container js-container">
		<div class="tabs js-tabs">
			<div class="tabs__navigation">
				<ul class="tabs__navigation-list">
					<li class="tabs__navigation-item">
						<a href="#tab-1" class="tabs__navigation-link active js-tabBtn">
							<img src="img/mirazh.png" alt="" class="tabs__navigation-img">
						</a>
					</li>
					<li class="tabs__navigation-item">
						<a href="#tab-2" class="tabs__navigation-link js-tabBtn">
							<img src="img/pride.png" alt="" class="tabs__navigation-img">
						</a>
					</li>
				</ul>
			</div>
			<div class="tabs__content">
				<ul class="tabs__content-list">
					<li class="tabs__content-item js-tabsContent" id="tab-1">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate harum earum, explicabo assumenda perferendis quae inventore. Odit at voluptas unde. Libero veritatis unde natus sequi corporis consequatur, itaque ut officiis.
						</p>
					</li>
					<li class="tabs__content-item js-tabsContent" id="tab-2">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit delectus reiciendis ratione quia nesciunt laudantium aut, libero, quas quaerat nulla temporibus sint voluptate! Libero totam pariatur explicabo voluptatem perferendis, tenetur dolorum, possimus quos quasi. At voluptatum tempore obcaecati, est maiores eaque harum laborum, repellendus reprehenderit, ut perferendis, cum ipsum temporibus.
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>