<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Влад Кузьмин</title>
	<script data-pace-options='{ "ajax": true, "document": true, "elements": ["img"] }' src="js/pace.min.js"></script>
	<link rel="stylesheet" href="css/pace-theme-loading-bar.css">
	<link rel="stylesheet" href="css/perfect-scrollbar.min.css">
	<link rel="stylesheet" href="css/main.css">
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="loading-fade js-loadingFade" id="loadingFade"></div>
	<script>
		Pace.on('done', function() {
			document.getElementById('loadingFade').style.display = "none";
		});
	</script>
	<div class="hide">
		{{>svg-icons}}
	</div>
	<div class="wrapper js-frame">
		{{>header}}
		{{>arrows}}
		<main class="main-content js-framesContainer">
			<div class="color-overlay js-colorOverlay"></div>
			{{>home}}
			{{>resume}}
			{{>show}}
			{{>school}}
			{{>gallery}}
			{{>news}}
			{{>contacts}}
		</main>
		{{>footer}}
	</div>
	{{>video-slider}}
	<script src="vendors/plugins.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>