<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Влад Кузьмин</title>
	<script data-pace-options='{ "ajax": true, "document": true, "elements": ["img"] }' src="js/pace.min.js"></script>
	<link rel="stylesheet" href="css/pace-theme-minimal.css">
	<link rel="stylesheet" href="css/perfect-scrollbar.min.css">
	<link rel="stylesheet" href="css/colorbox.css">
	<link rel="stylesheet" href="css/main.css">
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="loading-fade js-loadingFade" id="loadingFade">
		<ul class="loading-fade__list">
			<li class="loading-fade__item loading-fade__item_up js-loadingItem js-loadingItemLogo"></li>
			<li class="loading-fade__item loading-fade__item_down js-loadingItem"></li>
		</ul>
	</div>
	<script>
		Pace.on('done', function() {
			var $loadingFade = $('#loadingFade');

			$loadingFade.addClass('animated myFadeOut');

			var openSite = function() {
				$loadingFade.find('.js-loadingItem').eq(0).css({
					'transform': 'translate3d(0,-100%,0)',
					'-webkit-transform': 'translate3d(0,-100%,0)'
				});
				$loadingFade.find('.js-loadingItem').eq(1).css({
					'transform': 'translate3d(0,100%,0)',
					'-webkit-transform': 'translate3d(0,100%,0)'
				});
			};

			setTimeout(function() {
				$('.js-loadingItemLogo').append('<img src="img/logo_animation.gif" alt="Влад Кузьмин" class="loading-fade__logo">');
			}, 1000);


			setTimeout(function() {
				$('.pace-inactive').addClass('animated progressFadeOut');
				openSite();
			}, 4700);


		});
	</script>
	<div class="hide">
		{{>svg-icons}}
		<a href="http://findfood.ru/attaches/product/ovoshi/pomidor.jpg" class="gallery__link" rel="test">
			<span class="gallery__icon">
				<div class="sprite icon icon-zoom-in"></div>
			</span>
			<div class="gallery__img" style="background: url(img/photo-1.jpg) 50% center no-repeat; background-size: cover;"></div>
		</a>
		<a href="img/photo-1.jpg" class="gallery__link" rel="test">
			<span class="gallery__icon">
				<div class="sprite icon icon-zoom-in"></div>
			</span>
			<div class="gallery__img" style="background: url(img/photo-1.jpg) 50% center no-repeat; background-size: cover;"></div>
		</a>
	</div>
	<div class="wrapper js-frame">
		{{>header}}
		{{>arrows}}
		<main class="main-content js-framesContainer">
			<div class="color-overlay js-colorOverlay"></div>
			{{>home}}
			{{>resume}}
			{{>show}}
			{{>school}}
			{{>gallery}}
			{{>news}}
			{{>contacts}}
		</main>
		{{>footer}}
	</div>
	{{>video-slider}}
	{{>photo-slider}}
	<script src="vendors/plugins.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>