<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Влад Кузьмин</title>
	<link rel="stylesheet" href="css/main.css">
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrapper js-frame">
		{{>header}}
		{{>arrows}}
		<main class="main-content js-framesContainer">
			{{>home}}
			{{>resume}}
			{{>show}}
			{{>school}}
			{{>gallery}}
			{{>news}}
			{{>contacts}}
		</main>
		{{>footer}}
	</div>
	<script src="vendors/plugins.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>